<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.SalarySheetDao">
    <insert id="saveSheet">
        insert into salary_sheet (id, staff_id, staff_name, bank_id, staff_account, payable_salary, tax, actual_salary, operator, `state`, create_time, is_read)
        values (#{id}, #{staffId}, #{staffName}, #{bankId}, #{staffAccount}, #{payableSalary}, #{tax}, #{actualSalary}, #{operator}, #{state}, #{createTime}, #{isRead}) ;
    </insert>

    <select id="findAllSheet" resultType="com.nju.edu.erp.model.po.SalarySheetPO">
        select * from salary_sheet;
    </select>

    <select id="findSheetById" resultType="com.nju.edu.erp.model.po.SalarySheetPO">
        select * from salary_sheet where id = #{id};
    </select>

    <update id="updateSheetState">
        update salary_sheet
        set state = #{state}
        where id = #{sheetId}
    </update>

    <select id="getLatest" resultType="com.nju.edu.erp.model.po.SalarySheetPO">
        select * from salary_sheet order by id desc limit 0,1 ;
    </select>

    <!--根据单据状态获取单据-->
    <select id="findSheetByState" resultType="com.nju.edu.erp.model.po.SalarySheetPO">
        select * from salary_sheet where state = #{state};
    </select>

    <select id="getApprovalUnreadByOperator" resultType="com.nju.edu.erp.model.po.SalarySheetPO">
        select * from salary_sheet where is_read = 0 and operator = #{operator} and state = '审批完成';
    </select>

    <update id="setSheetRead">
        update salary_sheet
        set is_read = true
        where id = #{sheetId}
    </update>
</mapper>